*{
    margin: 0;
    padding: 0;

}
main{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/d482944d-eab4-4a64-89c9-a07a508a6e42/web/IN-en-20250929-TRIFECTA-perspective_4cf0c8a1-bd35-4d72-a49f-165021531dde_large.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px , 100vw);
    height: 90vh;
    width: auto;
    
}
.box{
    height: 100vh;
    width: 100%;
    opacity: 0.4;
    background-color: black;
    position:absolute;
    top: 0;
}
nav{
    max-width: 78vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    /* background-color: aqua; */
    /* gap: 90px; */
    z-index: 10;
    padding: 15px;
}