* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.main {
  height: 85vh;
  width: 100%;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/30c8b9f4-3db9-4b3b-a1ee-8fa56531b712/web/IN-en-20251201-TRIFECTA-perspective_c7623e8e-c406-43d2-9d9a-0140ce19ac84_small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* z-index: 20; */
}
.main .box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 1;
}

nav {
  /* background-color: rgb(0, 17, 255); */
  height: 90px;
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.hero {
  padding: 0px 20px;
  margin-top: 120px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 25;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
h1 {
  margin-bottom: 20px;
  font-size: 55px;
  font-weight: 800;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.email {
  width: 350px;
  padding: 15px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin: 5px;
  border-radius: 5px;
  background-color: black;
  opacity: 0.8;
}

.button .but {
  /* border: 1px solid black; */
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 150px;
  padding: 15px;
  border-radius: 5px;
}

/* Responsive  */

@media (max-width: 768px) {
  .main {
    height: 100vh;
  }
  .hero h1 {
    font-size: 38px;
  }
  .hero p {
    font-size: 18px;
  }
  
}
.im{
    margin: 10px;
    padding: 10px;
}
.imgi {
  display: flex;
  justify-content:center;
  margin: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 20px;
  border-radius: 10px;
  position: relative;

}
.no{
    margin: 0px;
    -webkit-text-fill-color: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    font-size: 100px;
    padding: 0px;
    position: absolute;
    align-self: flex-end;

}
.head{
    position: relative;
    left: 115px;
    color: white;
    padding: 10px;
    margin: 15px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.reason{
    color: white;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reason .box1{
    
    height: 200px;
    width: 300px;
    padding: 10px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 20px;
   background-color: rgb(0, 136, 255);
   text-align: left;
   
}
.box1 .icon{
    text-align: end;
}

.head2{
    position: relative;
    left: 115px;
    color: white;
    padding: 10px;
    margin: 15px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.rec{
    /* border: 1px solid white; */
    margin: 0px;
    padding: 0px;
    
}
.rec .rect{
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    height: 80px;
    background-color: rgb(36, 35, 35);
    border: 1px solid white;
    margin: 10px 155px 0px 155px;
   padding: 10px;


}

.pi{
     position: relative;
    left: 115px;
    color: white;
    padding: 5px;
    margin: 15px;
    font-size: 18px;
}

.list{
    display: grid;
    padding: 20px;
    margin: 0px 120px 20px;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
    list-style: none;
    color: white;
}
.list li{
    padding: 5px;
}

.foot{
   padding: 50px;
   margin-left:90px ;
   
}