*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.img{
    height: 100vh;
    width: 100vw;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/d482944d-eab4-4a64-89c9-a07a508a6e42/web/IN-en-20250929-TRIFECTA-perspective_4cf0c8a1-bd35-4d72-a49f-165021531dde_large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(0.4); */
   

}
main{
    /* overflow:hidden; */
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
     padding: 28px 80px;
}
.logo{
    display: flex;
    height: 100px;
    width: 150px;

}
.drop{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
ul {
    display: flex;
        justify-content: center;
    align-items: center;
    gap: 40px;
}
.drop select{
    text-align: center;
    padding: 10px;
    font-weight: 700;
    background-color : transparent;
    color: white;
    height: 40px;
    width: 100px;
    border: 1px solid white;
    border-radius: 8px;
}
button a{
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
button{
    background-color: red;
    height: 33px;
    width: 82px;
    border: 1px solid;
    border-radius: 6px;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* fills screen center */
    margin: 0; /* remove margin */
}



.heading{
    display: block;
    color: white;
    /* margin-top: 100px; */
    /* text-overflow: ellipsis; */
   box-sizing: border-box;
    font-size: 32px;
    text-align: center;
}
.heading1 , .heading2{
     color: white;
     padding: 10px;
     margin-top: 0px;
    font-size: 20px;
    text-align: center;
    line-height: auto;
}

.box3 ul{
    list-style: none;
}
.box3 ul :nth-child(1){
    height: 40px;
    width: 190px;
}
.box3 ul li button{
    background-color: red;
    height: 33px;
    width: 82px;
    border: 1px solid;
    border-radius: 6px;
}